@using Live_Performance.Entity
@using Live_Performance.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Huur Administratie - 't Skoepke</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Huur Administratie", "Index", "Home", new {area = ""}, new {@class = "navbar-brand"})
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    @Html.ActionLink("Huren", "Index", "Rent")
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (Session[SessionVars.User] == null)
                {
                    <li>
                        @Html.ActionLink("Login", "Index", "Login")
                    </li>
                }
                else
                {
                    {
                        User user = (User) Session[SessionVars.User];
                        <li class="dropdown">
                            <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                                @*<img class="login-avatar" src="@Gravatar.GetUrl(user.Email, "404")" onerror="this.remove()" alt="person">*@
                                @user.Name
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                @*<li>
                                </li>
                                <li class="divider"></li>*@
                                <li>
                                    @Html.ActionLink("Logout", "Logout", "Login")
                                </li>
                            </ul>
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>
<div class="container body-content">
    @RenderBody()
    <hr/>
    <footer>
        <p>&copy; @DateTime.Now.Year - 't Skoepke</p>
    </footer>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", false)
</body>
</html>