@using Live_Performance.Entity
@model List<Live_Performance.Entity.Rent>

@{
    ViewBag.Title = "Huur";
}

<h1>@ViewBag.Title</h1>

<input class="btn btn-primary btn-raised" type="button" onclick="location.href = '@Url.Action("New", "Rent")'" value="Nieuw"/>
<input class="btn btn-raised" type="button" onclick="location.href = '/api/Rent?type=json'" value="Export JSON"/>
<input class="btn btn-raised" type="button" onclick="location.href = '/api/Rent?type=xml'" value="Export XML" />
<br/>
<br/>

<div class="list-group">
    @foreach (Rent rent in Model)
    {
        <div class="list-group-item">
            <div class="row-content">
                <div class="least-content">@Html.DisplayFor(list => rent.Id)</div>
                <h4 class="list-group-item-heading">
                    <a href="@Url.Action("Details", "Rent", new {id=rent.Id})">@Html.DisplayFor(list => rent.User.Name)</a>
                </h4>

                <p class="list-group-item-text">
                    @Html.DisplayFor(list => rent.Begin) - @Html.DisplayFor(list => rent.End)
                </p>
            </div>
        </div>
        <div class="list-group-separator"></div>
    }
    @if (Model.Count == 0)
    {
        <div class="alert alert-dismissible alert-warning">
            <h4>Geen contracten gevonden</h4>

            <p>Probeer het later nog eens.</p>
        </div>
    }
</div>