@model Live_Performance.Entity.Article

@{
    ViewBag.Title = "Nieuw Artikel";
}

<h1>@ViewBag.Title</h1>

@using (Html.BeginForm("New", "Article"))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(article => article.Id)

    <div class="form-group label-floating">
        @Html.LabelFor(article => article.Name, new {@class = "control-label"})
        @Html.EditorFor(article => article.Name, new {htmlAttributes = new {@class = "form-control"}})
    </div>

    <br />

    <input class="btn btn-primary btn-raised" type="submit" value="Toevoegen" />
    <input class="btn btn-raised" type="button" onclick="location.href = '@Url.Action("Index", "Article")'" value="Annuleren" />
}